
.enregistrement {
    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 300px;
}

.connection {
    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
    width: 300px;
}

label {
    float: left;
}

input {
    float: right;
}






.div_current{
    float: left;
}

.div_img_current {
    height: 200px;
    width: 200px;

    border-radius: 95px;

    background-color: #6589db;
    float: left;
}

.div_img_current img {
    height: 200px;
    width: 200px;

    border-radius: 100px;

    text-align: center;
    vertical-align: middle;
}

.div_don {
    float: right;
    padding: 25px;

    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 15px;
}