
:root {
    --var_main_bandeau: rgb(14, 14, 36);
    --var_complement_bandeau: rgb(239, 159, 118);
    --var_img_bandeau: rgb(220, 138, 120);
    --var_text_bandeau: rgb(205, 214, 244);
    --var_a_hover: rgb(48, 52, 70);
}

.light_theme{
    --var_main_bandeau: rgb(205, 214, 244);
    --var_complement_bandeau: rgb(139, 213, 202);
    --var_img_bandeau: rgb(125, 196, 228);
    --var_text_bandeau: rgb(17, 17, 27);
    --var_a_hover: rgb(183, 193, 239);
}


#menu{
    height: 100%;
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    /*margin-right: 10px;*/
    border: 5px solid var(--var_complement_bandeau);
    background-color: var(--var_main_bandeau);
    font-family: DepartureMono, monospace;

}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
#menu li {
    font-size: 22px;

}

#menu a{
    display: block;
    text-decoration: none;
    color: var(--var_text_bandeau);
    padding: 10px 15px 10px 10px;
}
#menu a:hover{
    background: var(--var_a_hover);
}

#menu button{
    font-family: symbols, monospace;
    background-color: var(--var_main_bandeau);
    border: None;
    color: white;
    font-size: 25px;
}

.div_img{
    border: 5px solid var(--var_img_bandeau);
    background-color: var(--var_complement_bandeau);
    margin-bottom: 15px;
    width: 169;
}

.div_img a{
    display: block;
    text-decoration: none;
    color:var(--var_text_bandeau);
    padding: 0;
}

.div_img a:hover{
    background-color: var(--var_img_bandeau);
}

.div_img img {
    width: 165px;
}

#change-theme-button {
    margin: 0 auto;

}
#change-theme-button img {
    width: 150px;
}

#menu video {
    margin-left: auto;
    margin-right: auto;
    display: block;
}