
.div_H2 {
    border: 5px solid var(--var_complement);
    border-radius: 15px;
    margin: 15px;
}

div {clear:both}

.p_p_info{
    padding: 15px;
}

.button_h3 {
    cursor:pointer;

    width: 50%;

    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 10px;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--surface-1);
    color: var(--var_text);

    font-size: 30px;
    font-family: 'Century Gothic';
    text-align: left;

    border-radius: 15px;
    border: 5px solid var(--surface-0);
}

.button_h3:hover {
    background-color: var(--surface-0);
}

.button_h4 {
    cursor:pointer;

    width: 45%;

    margin-left: 35px;
    margin-right: 30px;
    margin-bottom: 10px;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--surface-1);
    color: var(--var_text);

    font-size: 15px;
    font-family: 'Century Gothic';
    text-align: left;

    border-radius: 15px;
    border: 5px solid var(--surface-0);
}

.button_h4:hover {
    background-color: var(--surface-0);
}

.button_h5 {
    cursor:pointer;

    width: 40%;

    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 10px;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--surface-1);
    color: var(--var_text);

    font-size: 10px;
    font-family: 'Century Gothic';
    text-align: left;

    border-radius: 15px;
    border: 5px solid var(--surface-0);
}

.button_h5:hover {
    background-color: var(--surface-0);
}


/*Regle*/

#div_regle_materiel {display: none}

#div_regle_valeur {display: none}

#div_regle_depla {display: none}

#div_regle_depla_pion {display: none}

#div_regle_depla_cavalier {display: none}

#div_regle_depla_fou {display: none}

#div_regle_depla_tour {display: none}

#div_regle_depla_dame {display: none}

#div_regle_depla_roi {display: none}

#div_regle_depla_spe {display: none}

#div_regle_depla_spe_roque {display: none}

#div_regle_depla_spe_promo {display: none}

#div_regle_depla_spe_enpassant {display: none}

#div_regle_fin {display: none}

#div_regle_cadence {display: none}

#div_regle_notation {display: none}

#div_regle_notation_partie {display: none}


/*Tactique*/

#div_tactique_clouage {display: none}

#div_tactique_enfilade {display: none}

#div_tactique_fourchette {display: none}

#div_tactique_attdecouverte {display: none}


/*Echec et mat*/

#div_mat_2tours {display: none}

#div_mat_dame {display: none}

#div_mat_1tour {display: none}

#div_mat_2fous {display: none}

#div_mat_arabe {display: none}

#div_mat_couloir {display: none}

#div_mat_etouffe {display: none}

#div_mat_epaulette {display: none}

#div_mat_imbecile {display: none}

#div_mat_berger {display: none}