{% extends 'index.html' %}
{% block body %}
<div class="text">
{{ message }}
<form action="{{ url_for("inscription") }}" method="post">
    <label for="firstname">Username</label>
    <input type="text" name="username" placeholder="username">
    <label for="email">email</label>
    <input type="email" name="email" placeholder="email">
    <label for="lastname">Password</label>
    <input type="password" name="password" placeholder="password">
    <!-- numéro du prof 06 01 06 01 06 -->
    <button type="submit">donner</button>
</form>
</div>
{% endblock %} 
