{% extends 'index.html' %}
{% block body %}
<div class="text">
    <h1>A propos du club</h1>
        <div class="div_H2">
            <h2>Présentation du club</h2>
            <p style="float: right;" class="club"><img src="../static/images/illustration/club/club_echec1.webp" alt="Photo du club"></p>
            <p>
                Le club échec (scolaire) est un club pour les gens qui aiment ... les échecs, c'est aussi un moment convivial qui permet à ses membres de se changer les idées et de manger en priorité.
            </p>
                
                <h3>Horaires</h3>
                <p>
                    Le club se réunit 3 fois par semaine dans le salle 201 (salle égalemant partagé avec d'autres club du lycée, toutefois cette colocation entre ces clubs se passent à merveille sans la moindre once de tension).
                </p>
                <table class="tabl_horaire">
                    <tr style="height: 35px;">
                        <th style="width: 35px;">Heure</th>
                        <th style="width:100px;">Lundi</th>
                        <th style="width:100px;">Mardi</th>
                        <th style="width:100px;">Jeudi</th>
                        <th style="width:100px;">Vendredi</th>
                    </tr>
                    <tr style="height: 35px;">
                        <td style="width: 35px;">12h-13h</td>
                        <td style="width:100px;"></td>
                        <td class="case_rempli" style="width:100px;">Club Echec</td>
                        <td class="case_rempli" style="width:100px;">Club Echec</td>
                        <td style="width:100px;"></td>
                    </tr>
                    <tr style="height: 35px;">
                        <td style="width: 35px;">13h-14h</td>
                        <td style="width:100px;"></td>
                        <td style="width:100px;"></td>
                        <td style="width:100px;"></td>
                        <td class="case_rempli" style="width:100px;">Club Echec</td>
                    </tr>
                </table>

        </div>

        <div class="div_H2">
            <h2> Les membres</h2>
                <p>
                    Le club est composé d'une dizaine de membres fréquents, mais aussi d'autres membres venant de temps pour jouer et s'amuser.
                    <br><br>
                    Ce club a, à sa tête, de(s) responsable(s), un "président", etc...
                </p>

                <br><br>

                <div></div>
                <div class="club">
                    <img src="../static/images/illustration/club/mateo_president.webp" alt="President du club">
                    <br><br>
                    <h3>Président — Mateo Liu</h3>
                    <p>Ou du moins théoriquement... dans la pratique c'est une autre histoire.</p>
                </div>

                <div></div>
                <div class="club">
                    <img src="../static/images/illustration/club/antonin_vice-president.webp" alt="Vice-President du club">
                    <br><br>
                    <h3>Vice-Président — Antonin Beltran</h3>
                    <p>Ou du moins théoriquement... dans la pratique c'est une autre histoire.</p>
                </div>

                <div></div>
                <div class="club">
                    <img src="../static/images/illustration/club/helene_co-vice-presidente.webp" alt="Co-Vice-Presidente du club">
                    <br><br>
                    <h3>Co-Vice-Présidente — Hélène Gauthier</h3>
                    <p>Ou du moins dans la pratique... théoriquement c'est une autre histoire.</p>
                </div>

                <div></div>
        </div>
           
        
        <div class="div_H2">
            <h2>Vie du club</h2>
                <p style="float: right;" class="club"><img src="../static/images/illustration/club/club_echec3.webp" alt="Photo du club"></p>
                <p>
                    Le club échec met en place certaines activités au cours de l'année, dans le but de faire connaitre ce jeu. 
                    <br><br>
                    En particulier, le club organise un concours d'échec à travers tout le lycée.
                    <br><br>
                    Le club affiche de nombreux flyers dans le lycée, afin qu'un maximum de personnes puissent apprendre à jouer, et ceux pour des occasions spéciales, pour le rentrée, pour la journée des échecs ou simplement pour essayer de corompre les gens et ainsi preserver la domination du CLUB sur notre établissement, et assurer l'acension de notre leader MATEO.
                </p>
        </div>

</div>
{% endblock %}
