
<div class="div_img">
    <a href="index.html"><img src="images/menu/chessNSIhtml.png" alt="chessNSI.html" ></a>
</div>
<ul>
    <li><a href="le_club.html">Le club</a></li>
    <li><a href="termes_echec2.html">Apprendre</a></li>
    <li><a href="">S'inscrire</a></li>
    <li><a href="">Jouer</a></li>
</ul>
<div id="change-theme-button">
    <img src="images/menu/dark_theme_button.png" alt="mode clair" id="change-theme">
    <script src="scripts/change-theme.js"></script>
    <!--        <script>initThemeSwitcher()</script>-->
</div>
<div>
    <video id='pub' height="100" src="pubs/pub_echec_club.mp4" muted loop autoplay> <!--autoplay loop-->
<!--        <source src="pubs/pub_echec_club.mp4" type="video/mp4">-->
    </video>

</div>
