
{% extends 'index.html' %}
{% block body %}

<script>
    function GetRandomColor(){
        let listHexValues = ["0","2","3","4","5","6","7","8","9","a","b","c","d","e","f"]
        let HexColor = "#"
        for (let i = 0; i < 6; i++) {
            let HexPart = listHexValues[Math.floor(Math.random() * 16)];
            HexColor += HexPart;
        }

        return HexColor
    }

    function RandomBackground(){

        // let HexValues = "01234566789ABCDEF"
        // let HexColor = "#"
        // for (let i = 0; i < 6; i++) {
        //     let HexPart = HexValues[Math.floor(Math.random() * 16)];
        //     HexColor += HexPart;
        // }

        div_img_current.style.backgroundColor = '#ab173C';
    }

</script>

<div class="text">
    <div class="div_current">
        <div class="div_img_current">
            <img src="../static/images/formulaire/personne.png" alt="Votre tête">

            <!-- <h1 style="float: right;">CurrentUser</h1> -->
        </div>
        <script>
            function RandomBackground(){

                // let HexValues = "01234566789ABCDEF"
                // let HexColor = "#"
                // for (let i = 0; i < 6; i++) {
                //     let HexPart = HexValues[Math.floor(Math.random() * 16)];
                //     HexColor += HexPart;
                // }

                div_img_current.style.backgroundColor = '#ab173c';
            }
        </script>


        <p id="p_p_p"></p>
        <script>
            document.getElementById('p_p_p').innerHTML = tr;
        </script>
        <button onclick="RandomBackground()"> Changer de couleur</button>

    </div>

    <div>
    <p>username = {{ username }}</p>
    <p>mail = {{ mail }}</p>
    </div>

    <div class="div_don">
        <form action="{{ url_for("dashboard") }}" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username">
            <br>
            <!-- numéro du prof 06 01 06 01 06 -->
            <label for="tel">Telephone</label>
            <input type="number" name="tel" placeholder="tel" required length="10">
            <br>
            <label for="cb">CB</label>
            <input type="number" name="cb" placeholder="cb" required length="16">
            <br>
            <label for="val">Valeur du don</label>
            <input type="number" name="val" placeholder="val">
            <br>

            <button type="submit">donner</button>
        </form>
    </div>
</div>
{% endblock %}
