{% extends 'index.html' %}
{% block body %}

<script>
        function ChangeDisplay(elem, button)
            {
                if (getComputedStyle(elem).display != "none") {
                    elem.style.display = "none"
                    button.style.border = "5px solid var(--surface-0)"
                    }

                else {
                    elem.style.display = "block"
                    button.style.border = "5px solid var(--var_complement)"
                    }

            }
    </script>
    <div class="text">
        <h1>Termes échiquéens</h1>
        <div class="div_H2">
            <h2 id="regle">Règles du jeu</h2>
            <div>

                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_materiel, this)"><h3 style="text-align: left;">Matériel</h3></button>
                
                <div id="div_regle_materiel">
                    <p style="float:left"><img src="static/images/illustration/regle/chessboard_start.png" alt="illustration d'un plateau" /></p>
                    <p>
                        Pour jouer aux échecs, les joueurs ont besoin au minimum d'un jeu de pièces et d'un échiquier. Une pendule est également nécessaire si les joueurs décident de disputer une partie avec une contrainte de temps. De plus, les joueurs utilisent souvent une feuille de partie pour noter leurs coups et pouvoir reconstituer leur affrontement.
                        <br><br>
                        Un jeu de pièces d'échecs se compose de deux armées différentes, chacune contenant huit pions, deux cavaliers, deux fous, deux tours, une dame et un roi. Les joueurs peuvent distinguer leurs pièces grâce à leur couleur, soit noires soit blanches, réminiscence des pièces en ivoire et en ébène utilisées par le passé.
                        <br><br>
                        L'échiquier est un plateau de 8 cases colorées sur 8 avec une alternance parfaite entre le noir et blanc, formant un damier de 64 cases. Il est divisé en huit colonnes et huit rangées.
                        <br><br>
                        Les pendules d'échecs permettent d'indiquer à tout moment le temps restant à chaque joueur. Elles peuvent également leur ajouter du temps supplémentaire après qu'ils aient effectué un coup (appelé incrément).
                    </p>
                </div>


                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_valeur, this)"><h3 style="text-align: left;">Valeur des pièces</h3></button>

                <div id="div_regle_valeur">
                    <p>
                        Les pions valent un point et ne sont pas considérés comme des pièces à part entière. Les cavaliers et les fous sont estimés à trois points, bien que les ordinateurs évaluent un tantinet mieux les arpenteurs des diagonales que les sauteurs d'obstacles. Ces deux pièces sont qualifiées de "mineures".
                        <br><br>
                        Les tours valent cinq points et la dame 9.5. Elles sont toutes classées comme pièces "lourdes". Le roi est la pièce la plus précieuse aux échecs - le "perdre" coûte la victoire.
                        <br><br>
                        Notez que la valeur des pièces n'est qu'un concept abstrait et ne détermine pas l'issue d'une partie. Un joueur peut gagner beaucoup de matériel mais s'incliner si son adversaire parvient à le mater .
                    </p>
                </div>


                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_depla, this)"><h3 style="text-align: left;">Déplacements des pièces et captures</h3></button>

                <div id="div_regle_depla">

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_pion, this)"><h4 style="text-align: left;">Pion</h4></button>
                    <div id="div_regle_depla_pion">
                        <p style="float:left"><img class="img_a_regle" src="static/images/illustration/regle/depla_pion.png" alt="deplacement d'un pion" /></p>
                        <p>
                            Les pions se déplacent d'une case vers l'avant, excepté depuis leur poste de départ d'où, emportés par leur élan, ils peuvent aussi jaillir de deux cases. Ils sont les seuls à ne jamais pouvoir reculer !
                            <br>Les pions capturent les pièces adverses se trouvant à portée d'une case en diagonale. Ils sont les seuls à prendre de façon différente qu'ils se déplacent. Ils bénéficient aussi dans certaines circonstances d'une règle spéciale, la prise en passant.
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_cavalier, this)"><h4 style="text-align: left;">Cavalier</h4></button>
                    <div id="div_regle_depla_cavalier">
                        <p style="float:right"><img class="img_a_regle" src="static/images/illustration/regle/depla_cavalier.png" alt="deplacement d'un cavalier" /></p>
                        <p>
                            Les cavaliers font un mouvement de deux cases horizontalement puis une verticalement, ou de deux cases verticalement puis une horizontalement. On dit souvent qu'ils se déplacent à la manière d'un "L" majuscule qui pourrait se retourner dans tous les sens.
                            <br>Les cavaliers capturent en atterrissant sur la case de leur victime et sont les seules pièces pouvant sauter par-dessus les autres.
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_fou, this)"><h4 style="text-align: left;">Fou</span></button>
                    <div id="div_regle_depla_fou">
                        <p style="float:left"><img class="img_a_regle" src="static/images/illustration/regle/depla_fou.png" alt="deplacement d'un fou" /></p>
                        <p>
                            Les fous peuvent se déplacer d'un nombre illimité de cases en diagonale. Ils demeurent fidèle à la couleur sur laquelle ils commencent la partie. Les joueurs démarrent toujours avec deux arpenteurs des diagonales, formant ainsi la paire de fous.
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_tour, this)"><h4 style="text-align: left;">Tour</h4></button>
                    <div id="div_regle_depla_tour">
                        <p style="float:right"><img class="img_a_regle" src="static/images/illustration/regle/depla_tour.png" alt="deplacement d'une tour" /></p>
                        <p>
                            Les tours jouissent d'un mouvement illimité à l'horizontale ou à la verticale. Elles permettent aussi d'accompagner le roi dans le coup spécial, intitulé "roque".</p>
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_dame, this)"><h4 style="text-align: left;">Dame</h4></button>
                    <div id="div_regle_depla_dame">
                        <p style="float:left"><img class="img_a_regle" src="static/images/illustration/regle/depla_dame.png" alt="deplacement d'une dame" /></p>
                        <p>
                            La dame est la pièce la plus puissante aux échecs. Elle peut se déplacer en diagonale, horizontalement ou verticalement d'autant de cases qu'elle le souhaite (sauf si une autre pièce la bloque). Elle combine donc les mouvements des tours et des fous.</p>
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_roi, this)"><h4 style="text-align: left;">Roi</h4></button>
                    <div id="div_regle_depla_roi">
                        <p style="float:right"><img class="img_a_regle" src="static/images/illustration/regle/depla_roi.png" alt="deplacement d'un roi" /></p>
                        <p>
                            Le roi peut se déplacer d'une seule case dans toutes les directions. Il bénéficie également d'un super pouvoir pour se mettre à l'abri, utilisable une seule fois dans la partie, dénommé le roque.</p>
                        </p>
                    </div>

                    <div></div>
                    <button class="button_h4" onclick="ChangeDisplay(div_regle_depla_spe, this)"><h4 style="text-align: left;">Règles spéciales</h4></button>
                    <div id="div_regle_depla_spe">

                        <div></div>
                        <button class="button_h5" onclick="ChangeDisplay(div_regle_depla_spe_roque, this)"><h5 style="text-align: left;">Roquer</h5></button>
                        <div id="div_regle_depla_spe_roque">
                            <p>
                                Les joueurs peuvent roquer pour protéger leur roi et développer simultanément une tour. Pour ce faire, le roi se déplace de deux cases vers sa tour et celle-ci saute pour atterrir à ses côtés.
                                <br>Un joueur ne peut roquer que si toutes les conditions ci-dessous sont réunies:
                            </p>
                            <ul>
                                <li>Le roi et la tour concernée n'ont jamais bougé.</li>
                                <li>Il n'y a aucune pièce entre le roi et la tour concernée.</li>
                                <li>Le roi n'est pas en échec.</li>
                                <li>L'adversaire ne contrôle aucune des cases se trouvant sur le chemin traversé par le roi pour roquer.</li>
                            </ul>
                        </div>

                        <div></div>
                        <button class="button_h5" onclick="ChangeDisplay(div_regle_depla_spe_promo, this)"><h5 style="text-align: left;">Promotion d'un Pion</h5></button>
                        <div id="div_regle_depla_spe_promo">
                            <p>
                                Lorsque les pions atteignent la rangée la plus éloignée de celle où ils ont débuté la partie, ils peuvent être promus en une pièce mineure ou majeure. Les pions des blancs se transforment donc lorsqu'ils atteignent la huitième rangée, tandis que ceux noirs sont récompensés quand ils arrivent sur la première rangée.
                                <br>Les pions peuvent être promus à n'importe quelle pièce, quel que soit le nombre ou la nature des autres pièces encore présentes sur l'échiquier.
                            </p>
                        
                        </div>

                        <div></div>
                        <button class="button_h5" onclick="ChangeDisplay(div_regle_depla_spe_enpassant, this)"><h5 style="text-align: left;">Prise en passant</h5></button>
                        <div id="div_regle_depla_spe_enpassant">
                            <p>
                                La règle de la prise en passant est la plus déconcertante aux échecs pour un joueur débutant. Il s'agit d'une règle spéciale qui permet aux pions de capturer d'autres pions dans les conditions suivantes:
                            </p>
                            <ul>
                                <li>Le pion capturant se trouve 3 cases plus loin que sa position de départ.</li>
                                <li>Un pion adverse atterrit sur une colonne adjacente à la sienne en ayant avancé de deux cases d'un coup.</li>
                                <li>La prise en passant ne peut intervenir que lors du coup suivant cette avancée adverse.</li>
                            </ul>
                            <p>
                                Si toutes les conditions sont réunies, le joueur attaquant peut choisir de faire la prise en passant. Le pion attaquant se déplace alors d'une case en diagonale et atterrit une case derrière le pion capturé qui est retiré de l'échiquier.
                            </p>
                        </div>

                    </div>
                </div>


                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_fin, this)"><h3 style="text-align: left;">Fin de Partie</h3></button>
                <div id="div_regle_fin">
                    <p>
                        Aux échecs, un joueur peut soit gagner, soit perdre, soit faire match nul. La victoire s'obtient en matant son adversaire, en gagnant au temps ou en bénéficiant de l'abandon et la défaite de façon inverse.
                        <br><br>
                        La partie peut se terminer par la nulle de plusieurs manières différentes : par accord mutuel entre les joueurs, en cas de triple répétition, de position morte, de la règle des 50 coups ou de pat.
                    </p>
                </div>


                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_cadence, this)"><h3 style="text-align: left;">Cadences</h3></button>
                <div id="div_regle_cadence">
                    <p>
                        Les parties d'échecs récréatives, sur l'échiquier (OTB=over the board, sur le plateau), peuvent ne pas avoir de limite de temps, surtout chez les débutants. Cependant, les échecs de compétition utilisent toujours une pendule afin de limiter la durée de la partie.
                        <br><br>
                        Les parties sont répertoriées différemment en fonction de la cadence imposée. Les parties classiques ont des cadences plus longues, chaque joueur disposant généralement de plus d'une heure pour jouer ses coups. Ces cadences longues sont plus courantes pour les parties OTB.
                        <br><br>
                        Les cadences rapides sont celles où chaque joueur dispose d'au moins 10 minutes pour jouer ses coups. Les parties en blitz sont celles où chaque joueur dispose d'au moins trois minutes, tandis que les parties en bullet sont celles où le temps est de deux minutes ou moins. Les parties rapides, blitz et bullet sont très populaires en ligne
                        <br><br>
                        Les cadences peuvent également comporter des incréments ou un délai. Un incrément est une quantité de temps ajoutée à la pendule du joueur après qu'il ait effectué un coup. Un délai, en revanche, n'est pas ajouté à la pendule du joueur. Il s'agit, au contraire, du temps dont il pour effectuer un coup avant que son temps ne commence à s'écouler à son tour de jeu.
                        <br><br>
                        En plus des cadences mentionnées ci-dessus, il existe aussi des parties qui peuvent s'étendre sur plusieurs jours, on parlera alors d'échecs par correspondance.
                    </p>
                </div>


                <div></div>
                <button class="button_h3" onclick="ChangeDisplay(div_regle_notation, this)"><h3 style="text-align: left;">Notation</h3></button>
                <div id="div_regle_notation">
                    <p style="float:left"><img src="static/images/illustration/regle/chessboard_notation.png" alt="Regloe de notation" /></p>
                    <p>
                        La notation échiquéenne est une manière d'enregistrer ou d'écrire les coups d'une partie d'échecs. Bien qu'il existe différentes techniques pour ce faire, la notation officielle aujourd'hui est celle dit algébrique. Elle indique le numéro du coup, la pièce déplacée et la case où elle atterrit.
                        <br><br>
                        En notation algébrique, chaque case de l'échiquier a un nom, composé d'une lettre qui identifie la colonne, suivi d'un chiffre qui identifie la rangée.
                        <br><br>
                        Chacune des pièces est abrégée par une lettre majuscule : "R" pour le roi (ou "K" pour King), "D" pour la dame (ou "Q" pour Queen), "T" pour la tour (ou "R" pour Rook), "F" pour le fou (ou "B" pour Bishop) et "C" pour le cavalier (ou "N" pour Knight). Les pions sont les seuls orphelins de cette appellation et on indique directement leur case d'arrivée.
                        <br><br>
                        Les prises sont indiquées par la lettre x, tandis que le petit roque court est noté 0-0 et le grand roque 0-0-0. 1-0 signifie que les blancs ont gagné, 0-1 les noirs et 1/2-1/2 une nulle.
                    </p>
                </div>
            
            </div>



        </div>
    </div>

</body>
{% endblock %}
